@import "_footer.scss";
@import "_nav.scss";
@import "_utilities.scss";

* {
  box-sizing: border-box;
}

.checked {
  color: orange;
}
.container {
  margin-bottom: 80px;
  margin-top: 80px;
}
.description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  label {
    padding-right: 20px;
    font-size: 16px;
  }
  select {
    font-size: 14px;
  }
  button {
    font-size: 0.8rem;
    border-radius: 20px;
    color: #fff;
    display: inline-block;
    padding: 10px 30px;
    margin-top: 20px;
    text-decoration: none;
    text-transform: uppercase;
    background: $btnColor;
    border: none;
    font-style: italic;
    cursor: pointer;
    outline-style: none;
    transition: all 0.2s ease-in;
    display: block;
    position: relative;
    width: 160px;

    img {
      width: 27px;
      height: 38px;
      position: absolute;
      left: 12px;
      top: 2px;
      opacity: 0;
      visibility: hidden;
    }
  }
  button:hover {
    width: 220px;
    img {
      opacity: 1;
      visibility: visible;
    }
  }
  @media (max-width: 767px) {
    margin-top: 15px;
  }
}

//gallary img
.content {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  .background {
    position: absolute;
    left: 0;
    top: 0;
    width: 85%;
    background-color: #e9ecef;
    height: 100%;
    border-top-right-radius: 80px;
  }
  .big-image {
    height: 100%;
    img {
      width: 100%;
      height: 70%;
      margin-top: 35px;
      transform: rotateX(0deg) rotateY(30deg) rotateZ(0deg);
      box-shadow: 0 8px 6px -6px black;
      transform: perspective(600px) rotateY(-11deg);
    }
  }
}

.gallary {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  width: 100%;
}

.thumb {
  cursor: pointer;
  opacity: 0.5;
  transition: 0.3s;
  width: 23%;
}

.thumb:hover {
  opacity: 1;
}
.confirme-feedback {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #00c02b !important;
  border-color: #009d23 !important;
  color: #ffffff;
  margin-top: 10px;
  max-width: 400px;
  padding: 6px;
  background: #cccccc;
  text-align: center;
  border: 1px solid #aaaaaa;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s, top 0.2s, visibility 0.2s;
  a {
    text-decoration: none;
  }
}
.confirme-feedback--visible {
  top: 20px;
  opacity: 1;
  visibility: visible;
}
.addtocart {
  border-radius: 20px;
  background: $btnColor;
  border: white;
}
.price {
  font-size: 25px;
  font-weight: 500;
}
.desc {
  font-size: 16px;
  font-weight: 100;
}
